.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tech-icon-images {
  width: 55px;
  height: 55px;
  object-fit: contain;
  display: block;
}

.tech-icons {
  height: 110px;       
  width: 110px;        
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;      
}

.tech-icons-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.tech-icons p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1;
}

.project-card {
  display: flex;
  flex-direction: column;
}

.project-card-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
